/* The body is everything displayed in the main text delivery area*/
/* body {
	background: blue;
} */


/* This class is specific to the text in the passages
.passage {
    border: 1px solid red;
}
*/

/* This id is specific to the sidebar */
/* #ui-bar {
	display: none;
	margin: 0mm;
} */


/* This id is specific to the header
#header {
	
}
*/

/* This id is specific to the footer
#footer {
	
}
*/

/* This class will override any styles on passages tagged "forest"*/
.forest {
	background: green;
}


body[data-tags~="corp"]{
	background-image: url("https://th.bing.com/th/id/OIP._fjqRJSQL0HopBQe-DlTGAHaEK?pid=ImgDet&rs=1");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

body.fletter{
    background-image: url("https://miro.medium.com/max/1200/1*xgv8zQgPai2P2kDmu1cpTQ.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

body[data-tags~="kletter"]{
    background-image: url("https://th.bing.com/th/id/OIP.Etl4APvQYasf086edjxNxAHaHa?pid=ImgDet&rs=1");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

body[data-tags~="tletter"]{
    background-image: url("https://th.bing.com/th/id/OIP.Q0pnsfCDS2XS7ES4zTeyQQHaEK?pid=ImgDet&rs=1");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


/* This class is specific to the text in the passages */
.fletter.passage{
    line-height: 1.6;
    text-align: justify;
    font-size: 1.6em;
    background-color: rgba(253, 254, 254, 0.493);
    padding: 2em;
    box-shadow: 6px 10px rgba(var(--passage-box-shadow), 0.2);
    border: 1px solid #000000;
    font-family: calandine;
}
.green-background {
    background-color: #2ecc71;
  }