/* ---FONTS--- */
@font-face {
	font-family: 'PWSolar';
	src: url("media/Fonts/PWScolarpaper.ttf");
}

@font-face {
	font-family: "TypeWriter";
	src: url("media/Fonts/TYPEWR_B.ttf");
}

@font-face {
	font-family: "Semi-Coder";
	src:url("media/Fonts/Semi-Coder-Regular.otf")
}

@font-face {
	font-family: "Winter";
	src: url("media/Fonts/Winter Coffee.ttf")
}

@font-face{
	font-family:"Fancy";
	src: url("media/Fonts/Fancy-PersonalUse.ttf")
}

@font-face{
	font-family:"Stamp";
	src: url("media/Fonts/BadlyStamped.ttf")
}

@font-face{
	font-family:"Homework";
	src: url("media/Fonts/Holidays Homework.ttf")
}

/* ---MAIN STAGES--- */
body.corp{
	background-image: url("media/images/CEO.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.corp.passage{
	align-self: space-evenly;
	font-family: "Georgia", Georgia, serif;
	font-size: large;
	font-weight: 700;
	color:rgb(22, 97, 158);
	text-shadow: 0px 0px 5px white;
	backdrop-filter: blur(30px) saturate(70%);
	margin: 0 auto;
}

body.desk{
	background-image: url("media/images/desk.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.desk.passage{
	font-family: "Stamp";
	font-size: x-large;
	font-weight: lighter;
	color:rgb(146, 103, 39);
	backdrop-filter: blur(10px) saturate(70%);
	margin: 0 auto;
}

body.police{
	background-image: url("media/images/Police interview.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.police.passage{
	font-family: "TypeWriter";
	font-size: large;
	color:rgb(46, 13, 13);
	text-shadow: -1px -1px 0 rgb(255, 255, 255, 0.6), 1px -1px 0 rgb(255, 255, 255, 0.6), -1px 1px 0 rgb(255, 255, 255, 0.6), 1px 1px 0 rgb(255, 255, 255, 0.6);
	backdrop-filter: blur(10px) saturate(70%);
	margin: 0 auto;
}

body.killer{
	background-image: url("media/images/Killer interview.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.killer.passage{
	font-family: "Fancy";
	font-weight: bolder;
	font-size: x-large;
	color:rgb(150, 0, 0);
	text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
	backdrop-filter: blur(10px) saturate(70%);
	margin: 0 auto;
}

body.family{
	background-image: url("media/images/mother.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.family.passage{
	font-family: "Winter";
	word-spacing: auto;
	font-size: xx-large;
	text-shadow: 1px 1px 2px rgb(194, 207, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
	color:rgb(43, 24, 87);
	backdrop-filter: blur(10px) saturate(70%);
	font-weight: normal;
}

body.inventory{
	background-image: url("https://am.adventistmission.org/assets/public/resources/Mission-360-Magazine/Stories/v6n1/page1/6_1On7V94x29WKaAl7UKLY-0.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.inventory.passage{
	font-family: "Homework";
	padding: 2em;
	color:rgb(0, 0, 0);
	background-image: url("https://wallpapercave.com/wp/wp8085030.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border: 10px double black;
	height: 1080px;
}

body.fspecial{
	background-image: url("media/images/Alleyway.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.fspecial.passage{
	font-family: "Georgia", Georgia, serif;
	color:rgb(255, 0, 0);
	backdrop-filter: blur(10px) saturate(70%);
	padding-right: -100px;
	margin: 0 auto;
}

body.kspecial{
	background-image: url("media/images/woman.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.kspecial.passage{
	font-family: "Georgia", Georgia, serif;
	color:rgb(255, 0, 0);
	backdrop-filter: blur(10px) saturate(70%);
	padding-right: -100px;
	margin: 0 auto;
}

body.tspecial{
	background-image: url("media/images/crime fan.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.tspecial.passage{
	font-family: "Georgia", Georgia, serif;
	color:rgb(255, 0, 0);
	backdrop-filter: blur(10px) saturate(70%);
	padding-right: -100px;
	margin: 0 auto;
}
/* ---LETTER BACKGROUNDS--- */

body.fletter{
    background-image: url("https://miro.medium.com/max/1200/1*xgv8zQgPai2P2kDmu1cpTQ.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* This class is specific to the text in the passages */
.fletter.passage{
    line-height: 1.6;
    text-align: justify;
    font-size: 1.6em;
    color: #000000;
    background-color: rgba(253, 254, 254, 0.493);
    padding: 2em;
    box-shadow: 6px 10px rgba(var(--passage-box-shadow), 0.2);
    border: 1px solid #000000;
    font-family: "PWSolar";
}

body.kletter{
    background-image: url("https://th.bing.com/th/id/OIP.Etl4APvQYasf086edjxNxAHaHa?pid=ImgDet&rs=1");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

body.tletter{
    background-image: url("https://th.bing.com/th/id/OIP.Q0pnsfCDS2XS7ES4zTeyQQHaEK?pid=ImgDet&rs=1");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.tletter.passage{
	line-height: 1.6;
    text-align: justify;
    font-size: 1.6em;
    color: #000000;
    background-color: rgba(235, 255, 255, 0.493);
    padding: 2em;
    box-shadow: 6px 10px rgba(var(--passage-box-shadow), 0.2);
    border: 1px solid #000000;
    font-family: "Semi-Coder";
}

.passage a:hover{
	color: red;
}

.passage a{
	cursor:pointer;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-family:var(--bodyfont);
	font-weight: var(--bodyfont);  
  }

/* This id is specific to the sidebar */
#ui-bar {
	display: none;
	padding:0%;
	margin: -1000px;
}



